.search{
    align-items: center;
    align-self: center;
    width: 600px;
    height: 50px;
    margin-right: 50px;
    border-radius: 25px;
    border-color: orange;
    border: orange;
    padding: 20px;
    outline: none !important;
}